<div class="headback" [toTop]='target'>
    <div class="navbar">
        <div class="nav">
            <a md-button routerLinkActive="active" routerLink="home">
                <img src="assets/icons/ic_account_circle_white_24dp.png" alt="">
                <span class="navfont">个人简历</span>
            </a>
            <a md-button routerLinkActive="active" routerLink="learn">
                <span class="navfont">学无止境</span>
                <!--  学习web开发的相关  -->
            </a>
            <a md-button routerLinkActive="active" routerLink="way">
                <span class="navfont">一路走来</span>
                <!--  学校相关  -->
            </a>
            <a md-button routerLinkActive="active" routerLink="achievement">
                <span class="navfont">我的成果</span>
                <!--  项目经验  -->
            </a>
            <a md-button class="navbtnright" routerLinkActive="active" routerLink="about">
                <span class="navfont">关于此简历</span>
                <!--  关于此简历  -->
            </a>
        </div>
    </div>

    <router-outlet></router-outlet>

    <div id="gotop" class="gotop1">
        <div class="gotop2">
            <div class="box">
                <div class="a" (click)="goTop('Top')">
                    <img style="display:block" src="assets/icons/ic_arrow_drop_up_white_48dp.png" alt="">
                    <span>Top</span>
                </div>
            </div>
        </div>
    </div>
</div>